@media (min-width:1024px) {
  #about .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }
  #about .col-a {
    align-self: center;
  }
  #about .content p {
    margin-bottom:0;
  }
  #about img {
    width: 52rem;
  }
}