@media (min-width:1024px) {
  #services h2 {
    width: 47rem;
    margin-inline:auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #services .card {
    width: 30%;
    flex-grow: 1;
    gap: 4rem;
  }

}

