#backToTopButton {
  position:fixed;
  bottom:1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;



  transform:translateY(100%);/*joga ele no final da tela */
  transition: 200ms;
}

#backToTopButton.show{
  opacity: 1;
  visibility: visible;

  transform:translateY(0);/*dá o efeito de vir para cima */
}
