nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;/*joga o elemento para o meio da tela mas não fica exatamente no meio */
  transform: translateX(-50%);/*ele corrige o elemento no eixo x para ficar no meio */
  
}
nav.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill:white;
}


nav.scroll svg:nth-child(2) path {
  stroke:white;
}