nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;/*joga o elemento para o meio da tela mas não fica exatamente no meio */
  transform: translateX(-50%);/*ele corrige o elemento no eixo x para ficar no meio */
  
}
.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.scroll {
  background: var(--primary-color);
  width: 100vw;
  position: fixed;
  top: 0;
}

nav.scroll svg:nth-child(1) path {
  fill:white;
}


nav.scroll button path {
  stroke:white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
