#services  header h4{
  font-size:1.4rem;
  line-height: 150%;
  letter-spacing:0.08rem;


  color: var(--primary-color);

  text-transform: uppercase;
  margin-bottom: 1.6rem;
}


#services header h2{
  margin-bottom: 6rem;
}
